# go-language-server/protocol project gitattributes file
# https://github.com/github/linguist#using-gitattributes

docs linguist-documentation
*.pb.go linguist-generated
*_string.go linguist-generated
vendor/* linguist-vendored
